<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cloud.icepan.rbac.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="cloud.icepan.rbac.model.Permission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="BOOLEAN"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="permission_describe" property="permissionDescribe" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumn">
        id,create_time,update_time,delete_time,title,status,
        permission_describe
    </sql>

    <sql id="SelectiveAndIf">
        <if test="create_time!=null">
            create_time=#{createTime,jdbcType=TIMESTAMP} AND
        </if>
        <if test="update_time!=null">
            update_time=#{updateTime,jdbcType=TIMESTAMP} AND
        </if>
        <if test="delete_time!=null">
            delete_time=#{deleteTime,jdbcType=TIMESTAMP} AND
        </if>
        <if test="status!=null">
            status=#{status,jdbcType=BOOLEAN} AND
        </if>
        <if test="title!=null">
            title=#{title,jdbcType=VARCHAR} AND
        </if>
        <if test="permission_describe!=null">
            permission_describe=#{permissionDescribe,jdbcType=VARCHAR}
        </if>
    </sql>
    <sql id="SelectiveOrIf">
        <if test="create_time!=null">
            create_time=#{createTime,jdbcType=TIMESTAMP} OR
        </if>
        <if test="update_time!=null">
            update_time=#{updateTime,jdbcType=TIMESTAMP} OR
        </if>
        <if test="delete_time!=null">
            delete_time=#{deleteTime,jdbcType=TIMESTAMP} OR
        </if>
        <if test="status!=null">
            status=#{status,jdbcType=BOOLEAN} OR
        </if>
        <if test="title!=null">
            title=#{title,jdbcType=VARCHAR} OR
        </if>
        <if test="permission_describe!=null">
            permission_describe=#{permissionDescribe,jdbcType=VARCHAR}
        </if>
    </sql>

    <insert id="insert" parameterType="cloud.icepan.rbac.model.Api">
        INSERT INTO permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="create_time!=null">
                create_time,
            </if>
            <if test="update_time!=null">
                update_time,
            </if>
            <if test="delete_time!=null">
                delete_time,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="title!=null">
                title,
            </if>
            <if test="permission_describe!=null">
                permission_describe,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="create_time!=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time!=null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delete_time!=null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status!=null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="title!=null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="permission_describe!=null">
                #{permissionDescribe,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM permission
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByAnd" parameterType="cloud.icepan.rbac.model.Api">
        DELETE
        FROM permission
        <where>
            <include refid="SelectiveAndIf"/>
        </where>
    </delete>

    <delete id="deleteByOr" parameterType="cloud.icepan.rbac.model.Api">
        DELETE
        FROM permission
        <where>
            <include refid="SelectiveOrIf"/>
        </where>
    </delete>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM permission
    </select>

    <select id="selectByAnd" resultMap="BaseResultMap" parameterType="cloud.icepan.rbac.model.Api">
        SELECT
        <include refid="BaseColumn"/>
        FROM permission
        <where>
            <include refid="SelectiveAndIf"/>
        </where>
    </select>

    <select id="selectByOr" resultMap="BaseResultMap" parameterType="cloud.icepan.rbac.model.Api">
        SELECT
        <include refid="BaseColumn"/>
        FROM permission
        <where>
            <include refid="SelectiveOrIf"/>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="BaseColumn"/>
        FROM permission
        WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="cloud.icepan.rbac.model.Api">
        update permission
        <set>
            <if test="create_time!=null">
                create_time=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time!=null">
                update_time=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delete_time!=null">
                delete_time=#{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status!=null">
                status=#{status,jdbcType=BOOLEAN},
            </if>
            <if test="title!=null">
                title=#{title,jdbcType=VARCHAR},
            </if>
            <if test="permission_describe!=null">
                permission_describe=#{permissionDescribe,jdbcType=VARCHAR}
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
</mapper>